.home-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-grid {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  margin-top: 70px; /* espacio para el navegador fijo */
  height: calc(100vh - 70px);
  width: 100%; /* que ocupe todo el ancho disponible */
  box-sizing: border-box;
  background-color: #ffffff;
}

.home-calendar,
.home-profile {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;  /* flujo vertical */
  align-items: center;
  height: 100%;
  gap: 20px;              /* espacio vertical entre items */
  border: 1px solid #ccc;
  box-sizing: border-box; /* para que el padding no afecte el tamaño */
  min-height: 0; /* añade esto para evitar overflow inesperado */
}

/* Hacemos que los hijos ocupen todo el ancho del contenedor */
.home-calendar > *,
.home-profile > * {
  width: 100%;
}

.home-center {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}


.home-posts {
  background-color: #d9d9d940;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* para que el contenido empiece arriba */
  align-items: center;
  max-height: 100%;    /* limita altura para scroll */
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;
  min-height: 0;
  flex-grow: 1;
  padding: 10%;
  gap: 3%;
}


.home-title {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  width: 100%;
  padding: 5%;
}

.div-creation {
  position: relative; /* necesario para que el absolute del botón tome este contenedor como referencia */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #d9d9d999;
  width: 100%;
  padding: 15px;
  gap: 20px;
}

.create-button {
  position: static; /* o simplemente quita el position absolute */
  background-color: transparent;
  border: none;
  padding: 12px 12px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
}

.calendar-div {
  background-color: #f6f2e2;
  border-radius: 15px;
  overflow-y: auto;
  height: 80%;
  width: 70%;
  padding: 10px; /* espacio interno, opcional si querés separar el texto del borde */
  box-sizing: border-box;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.calendar-div::-webkit-scrollbar {
  display: none;
}
