.locate-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.locate-buttons {                       /* Contenedor de los botones */ 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;                        /* alto de botones */
  margin-top: 70px;                     /* esto hace que comience justo después del navbar */
  gap: 80px;
  background-color: #fff;
  border-bottom: 1px solid #000
}

.locate-grid {
  display: grid;
  grid-template-columns: 2.1fr 5.6fr 2.1fr;   /* Tamaño de las columnas */
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  flex-grow: 1; 
}

.locate-search {
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  max-height: 670px;  /* Altura máxima que puede tener la sección */
  overflow-y: auto;   /* Habilitar scroll solo vertical cuando sea necesario */
  padding-right: 10px; /* Para asegurarnos de que no se corte el contenido */
}

.locate-publication {
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;         /* 👈 Agrega scroll vertical */
  max-height: 670px; /* 👈 Ajusta según el alto de tu navegador y el navbar */
}

.locate-map {
  background-color: #888;
  padding: 0;
  box-sizing: border-box;
  height: 670px; /* Asegura un alto para que el mapa se vea */
}

.locate-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  font-weight: bold;
}

.locate-input {               /* Campo de texto search */
  width: 325px;               /* Tamaño del campo de texto */
  padding: 10px;              /* Tamaño del campo de texto de la busqueda */
  font-size: 16px;            /* Que la letra sea mas grande o chica */ 
  border-radius: 8px;
  border: 1px solid #ccc;
}

.decorative-images {
  position: relative;
  margin-top: 40px; /* Aumentamos la distancia superior */
}

.decorative-image {
  width: 330px; /* Más grande */
  opacity: 0.9;
  transform: rotate(-10deg);
  display: block;
  margin: 50px auto 0 auto; /* Esto la baja y la centra */
  transition: transform 0.3s ease;
}

.decorative-image:hover {
  transform: rotate(0deg) scale(1.05);
}

.mascota-foto {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  margin: 10px 0;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.boton-volver {  
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000;
  border: none;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  cursor: pointer;
  font-weight: bold;  
  font-size: 15px;
  transition: background-color 0.3s;
  transition: all 0.2s ease-in-out;  /* Transición suave */
}

.boton-volver:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);  /* Sombra más marcada */
  transform: translateY(-2px);               /* Se eleva un poco */
}