.coment-frame-frame{
  background-color: #d4ceb8;
  padding: 12px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  min-height: 0;
  flex-grow: 1;
  margin-top: 8px;
}

.coment-frame {
    padding: 10px;
    margin: 4px 0;
    height: auto;
    width: 100%;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
}

.coment {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: auto;
  gap: 2%;
  align-items: start;
  justify-items: start;
}

.item {
  display: flex;
  align-items: center;
}

.item.usuario {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}